body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  height: 115px;
}

.topHeader {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  height: 115px;
  background: #000000;
}

nav {
  position: absolute;
  top: 110px;
  background-color: #000000;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: transform 0.5s ease-in;
  border-bottom: #000000 2px solid;
}

.aktiv {
  display: flex;
}

nav ul {
  border: none;
}

nav li {
  display: block;
  padding: 50px 0;
}
  
.nav__link {
  color: #ffffff;
  text-decoration: none;
  margin-left: 15px;
  font-weight: lighter;
  transition: transform 0.5s ease-in;
}

.nav__link:hover {
  opacity: 0.8;
  color:  #10BDBD;
}

.bar__logo {
  height: 70px;
  padding-left: 20px;
}

i {
  color: #ffffff;
  font-size: 1em;
  width: 20px;
}

.fa-home {
  color: #10BDBD;
}

.hamburger div{
  width: 25px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: block;
  cursor: pointer;
  margin-right: 5px;
}

.burger .first {
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: white;
}
.burger .second {
  opacity: 0;
}
.burger .third {
  transform: rotate(45deg) translate(-5px, -6px);
  background-color: white;
}

/* main */

Main {
  max-width: 1020px;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  color: #000000;
  text-transform:uppercase;
  flex: 0 0 100%;
  text-align: center;
  font-size: 1.5rem;
}

.link_titel {
  justify-content: space-between;
  display: flex;
  max-width: 75%;
}

.links-site {
  color: #033030;
  text-decoration: none;
  white-space: nowrap;
  margin-top: 25px;
  font-weight: bolder;
  font-size: 17px;
}

.links-site:hover {
  text-decoration: underline;
}

.h2-games-titel, .h2-games-titel-1 {
  color: #000000;
  text-transform: capitalize;
  flex: 0 0 100%;
  text-align: left;
}

.deals-h2 {
  text-transform: capitalize;
  color: #000000;
  flex: 0 0 100%;
  text-align: center;
}

h3, p {
  text-transform: capitalize;
  color: #000000;
}

.games-item, .gameViewAll-item, .ViewAll-item {
  display: grid;
  grid-auto-flow: row;
  gap: 1em;
  margin-bottom: 50px;
}

.games-products {
 margin-bottom: 20px ;
 min-width: 250px;
 text-align: center;
}

.games-products img {
  height: 400px;
  max-width: 100%;
  object-fit: cover;
}

.pre-order-button {
  width: 110px;
  height: 60px;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  outline: none;
  background: #990000;
  transition-property: background-color;
  transition-duration: 1s;
}

.pre-order-button:hover {
  background-color: #000000;
}


.top-site {
  color: #000000;
  display: block;
  text-decoration: none;
  padding-left: 5px;
  margin-top: -15px;
}

.top-site:hover {
  text-decoration: underline;
}

.Buy-Now-button {
  width: 110px;
  height: 60px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  outline: none;
  background: #990A00;
  transition-property: background-color;
  transition-duration: 1s;
}

.Buy-Now-button:hover {
  background-color: #000000;
}

.view-all {
  color: #ffffff;
  background: #054e4e;
  text-decoration: none;
  font-size: 1.3em;
  padding: 10px 20px;
  margin-top: 20%;
  transition-property: background-color, text-decoration;
  transition-duration: 2s;
}

.view-all:hover {
  background-color: black;
  text-decoration: underline white;
}

.view-links {
  display: inline-block;
  text-align: left;
  margin-top: 10px;
}

.pre-links {
  text-decoration: none;
  color: white;
}

.about-link{
  text-decoration: none;
  background: #054e4e;
  font-size: 1.3em;
  display: block;
  padding: 10px 35px;
  transition-property: background-color, text-decoration;
  transition-duration: 1s;
  border: none;
  margin-bottom: 5px;
}

.about-link:hover {
  background-color: rgb(0, 0, 0);
  text-decoration: underline white;
}

.cart-link{
  background: #054e4e;
  font-size: 1.3em;
  display: block;
  padding: 10px 20px;
  transition-property: background-color;
  transition-duration: 1s;
}

.cart-link:hover {
  background-color: rgb(255, 0, 0);
}

h2, .comming-soon-p {
  color: #000000;
}

main h3 {
  color: #000000;
  text-align: center;
}

.gameplay-p, .gameplay, .gameplay-p2 {
  text-align: start;
  color: #000000;
  padding: 5px;
}

.product-description {
  color: #000000;
}

.Specifications-p {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid rgb(0, 0, 0);
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.item-images {
  height: 300px;
  max-width: 100%;
  padding-top: 20px;
}
  
.cart-link{
  background: #054e4e;
  font-size: 1.3em;
  display: block;
  padding: 10px 20px;
  transition-property: background-color;
  transition-duration: 1s;
  margin-bottom: 10px;
}
  
.cart-link:hover {
  background-color: rgb(255, 0, 0);
}

  .trade-link{
  background: #054e4e;
  font-size: 1.3em;
  display: block;
  padding: 10px 35px;
  transition-property: background-color, text-decoration;
  transition-duration: 1s;
}
  
.trade-link:hover {
  background-color: rgb(0, 0, 0);
  text-decoration: underline white;
}

.home-game-description {
  padding: 5px;
}

.home-game-description:hover {
  text-decoration: underline white;
}

.trade-section {
  display: block
}

.trade-h2   {
  color: #ffffff;
  text-align: center;
  text-transform: capitalize;
}

.trade-p {
  color: #ffffff;
  text-align: center;
}

.nr1-style{
 margin-top: 20px;
 color: #000000;
 background-color: #ffffff;
 font-size: 2em;
 text-align: center;
 border-radius: 50%;
 width: 50px;
 line-height: 50px;
 display: inline-block
}

.trade-style {
  text-align: center;
  background-color: #054D4D;
  padding-bottom: 5px;
  padding-top: 1px;
  padding: 1rem;
  border: 10px solid rgb(255, 255, 255);
}

.trade-link {
  color: #ffffff;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 2.rem;
  text-transform: capitalize;
}

.trade-link-style {
  padding: 10px 10px;
  margin: 10px 35px 20px;
  border-radius: 10px;
}

/* footer */

footer {
  background-color: #000000;
  padding-top: 10px;
  text-align: center;
}


.copiright-footer {
  text-decoration: none;
  font-size: 15px;
  color: white;
}

footer h2 {
  color: #ffffff;
  font-size: 20px;
}

footer h3 {
  color: #ffffff;
  font-size: 18px;
}

.icon-Gamereward a, .icon-trade a {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: #222222;
  margin: 0 10px 0 10px;
  text-align: center;
  line-height: 100px;
  border-end-end-radius: 50%;
  color: #ffffff;
  transition: 0.5s ease;
}

.icon-Gamereward a:hover {
  color: #054e4e;
}

.icon-trade a:hover {
  color: #054e4e;
}

.icons-contact a {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: #222222;
  text-align: center;
  line-height: 110px;
  padding-right: 10px;
  border-radius: 50%;
  color: #ffffff;
  transition: 0.5s ease;
}

.icons-contact a:hover {
  color: #054e4e;
}

.social-links a {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: #222222;
  margin: 0 5px 5px 0;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  color: #ffffff;
  transition: 0.5s ease;
  margin-top: 20px;
}

.social-links a:hover {
  color: #054e4e;
}

@media screen and (min-width: 962px) {

  /* media queries for the header*/

  .topHeader {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    height: 110px;
  }

  .bar__logo {
    height: 90px;
    padding-left: 130px;
  }

  nav {
    display: flex;
    position: static;
    width: unset;
    border-bottom: unset;
    background-color: unset;
  }

  nav ul {
    display: flex;
    border: none;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  nav li {
    padding-right: 50px;
  }

  .nav-link {
    text-decoration: none;
    margin-right: unset;
    font-weight: lighter;
    font-size: 18px;
    color: #ffffff;
    opacity: unset;

  }

  .hamburger {
    display: none;
  }

  .links-site {
    color: #033030;
    text-decoration: none;
    white-space: nowrap;
    margin-top: 25px;
    font-weight: bolder;
    font-size: 20px;
  }

  /* main @media */

 .games-item {
  grid-auto-flow: column;
  gap: 1em;
 }

 .ViewAll-item, .gameViewAll-item {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
 }

 .link_titel {
  max-width: 92%;
 }

 .games-products {
  min-width: 250px;
  text-align: center;
 }

 .games-products img {
  height: 400px;
 }

 .h2-games-titel, .deals-h2, .h2-games-titel-1 {
  display: flex;
 }

 h1 {
 font-size: 2rem;
 }

 .trade-link-style {
  margin: 10px 250px 20px;
  border-radius: 10px;
  }

 /* footer @media */

 .footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
 }
 
}
