/** @format */

:root {
  ---bar-height: 100px;
  --color-primary: #000000;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: 180vh;
  background-color: black;
}

Main {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

.header {
  height: 10vh;
  display: flex;
  align-items: center;
  padding-top: var(---bar-height);
  box-sizing: border-box;
}

.u-centered {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
}


.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: var(---bar-height);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.navbar--bg {
  background: var(--color-primary);
}

.navbar__content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  height: 100%;
}

.bar__nav-hamburger > i {
  color: #ffffff;
  font-size: 2em;
}

#inpNavHamburger {
  display: none;
}

#inpNavHamburger:checked ~ .nav {
  display: flex;
}

.nav {
  display: none;
  flex-direction: column;
  position: fixed;
  top: var(---bar-height);
  left: 0;
  width: 100%;
  padding: 32px;
  background: #222222;
  box-sizing: border-box;
}

.nav__link {
  font-weight: 500;
  padding: 16px 0;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


.nav__link:hover {
  opacity: 0.8;
  color: #054e4e;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  background: #070707;
  padding: 1rem;
  border-radius: 0.99rem;
  color: rgb(255, 255, 255);
  box-shadow: 0.25rem 0.25rem 0rem #054e4e;
  margin: 0 0.5rem 0 0.5rem;
}

.input-search {
  margin: 0 0.5rem 0 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background: #070707;
  color: white;
}

::placeholder {
  color: #ffffff;
}

.search-input {
  position: relative;
  right: 18%;
}

h1 {
  color: #ffffff;
  flex: 0 0 100%;
  text-align: center;
}

.column {
  width: 40%;
  min-height: 300px;
  float: left;
  border: 1px solid rgb(255, 255, 255);
}

.column2 {
  width: 40%;
  min-height: 200px;
  float: left;
  border: 1px solid rgb(255, 255, 255);
}

.games-item {
  margin: auto;
  padding: 45px;
}

.comming-soon-h2 {
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: -100px;
  position: relative;
  left: 15px;
}

.h2-games-titel {
  color: #ffffff;
  position: relative;
  left: 15px;
}

.deals-h2 {
  color: #ff0000;
  position: relative;
  left: 15px;
}

.Furious-game, .Forcelegend-game, .assassin-game, .boxer-game, .Black-game, .pingpong-game, .Superduber-game, .Space-war, .cyberpunk-game {
  padding-left: 2%;
  height: 250px;
}

.pre-order-button {
  width: 120px;
  height: 60px;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  outline: none;
  background: red;
  transition: 0.3s;
}

.pre-order-button:hover {
  background-color: #000000;
}

.Buy-Now-button {
  width: 120px;
  height: 60px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  outline: none;
  background: red;
  transition: 0.3s;
}

.Buy-Now-button:hover {
  background-color: #000000;
}

.Buy-Now-button1 {
  position: relative;
  left: 8%;
  top: 10px;
}

.Buy-Now-button2 {
  position: relative;
  left: 22%;
  top: 10px;
}

.Buy-Now-button3 {
  position: relative;
  left: 36%;
  top: 10px;
}

.veiw-all-button-2 {
  position: relative;
  left: 80%;
  top: 10px;
}

.pre-order-button1 {
  position: relative;
  bottom: 20px;
}

.pre-order-button2 {
  position: relative;
  left: 13%;
  bottom: 20px;
}

.pre-order-button3 {
  position: relative;
  left: 25%;
  bottom: 20px;
}


.veiw-all-button {
  width: 120px;
  height: 60px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  outline: none;
  background: rgb(0, 0, 0);
  transition: 0.3s;
}

.veiw-all-button:hover {
  background-color: #ff0000;
}

.veiw-all-button-1 {
  position: relative;
  left: 62%;
  top: 10px;
}

.veiw-all-button2 {
  width: 120px;
  height: 60px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  outline: none;
  background: rgb(0, 0, 0);
  transition: 0.3s;
}

.veiw-all-button2:hover {
  background-color: #ff0000;
}

.pil {
  border-radius: 25px;
  border: 2px;
  padding: 20px;
  width: 20px;
  height: 120px;
  cursor: pointer;
  transition: 0.3s;
}

.pil:hover {
  background-color: #054e4e;
}

.move-pil2 {
  position: relative;
  bottom: 168px;
  left: 622px;
}

.move-pil1 {
  position: relative;
  top: 205px;
  right: 45px;
}


.footer {
  background-color: #000000;
  height: auto;
  bottom: 0px;
  padding: 10px 0;
  width: 100%;
}

.container {
  max-width: 1170px;
  margin: auto;
  flex-direction: row;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer-col {
  width: 20%;
}

.footer-col2 {
  margin-left: -25%;
}

.footer-col1 .Subz-sign-in {
  font-size: 14.5px;
}

.footer-col1 {
  margin-right: 32%;
}


.footer-col h2 {
  font-size: 15px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 10px;
  position: relative;
  display: flex;
}

.footer-col2 h2 {
  font-size: 15px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 10px;
  position: relative;
  display: flex;
}

.footer-col1 h2 {
  font-size: 15px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  white-space: nowrap;
}

.footer-col p {
  font-size: 12px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 30px;

}

.copiright-footer {
  position: static;
  bottom: 0px;
  text-decoration: none;
  padding: 0px 450px;
  font-size: 15px;
  color: white;
  white-space: nowrap;
}


.footer-col .icon-Gamereward a {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: #222222;
  margin: 0 10px 0 10px;
  text-align: center;
  line-height: 100px;
  border-end-end-radius: 50%;
  color: #ffffff;
  transition: 0.5s ease;
}

.footer-col .icon-Gamereward a:hover {
  color: #054e4e;
}

.footer-col .icon-trade a {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: #222222;
  margin: 0 10px 0 10px;
  text-align: center;
  line-height: 100px;
  border-end-end-radius: 50%;
  color: #ffffff;
  transition: 0.5s ease;
}

.footer-col .icon-trade a:hover {
  color: #054e4e;
}

.footer-col .icons-contact a {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: #222222;
  margin: 40 10px 40 10px;
  text-align: center;
  line-height: 110px;
  border-radius: 50%;
  color: #ffffff;
  transition: 0.5s ease;
}

.footer-col .icons-contact a:hover {
  color: #054e4e;
}

.footer-col .contact-h2 {
  margin-left: 22%;
}

.subscribe-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 87%;
  max-width: 350px;
  background: #054e4e;
  padding: 0.75rem;
  border-radius: 2rem;
  color: rgb(255, 255, 255);
  margin: 0 5rem 0 5rem;
}

.subscribe-section .enter-mail {
  width: 50%;
  border: none;
  outline: none;
  background: #054e4e;
  color: white;
}

.subscribe-section .button {
  width: 120px;
  height: 35px;
  border: 0;
  border-radius: 1.5rem;
  cursor: pointer;
  color: rgb(248, 241, 241);
  outline: none;
  background-color: #ff0000b9;
  box-shadow: inset 0 0 0 0 #054e4e;
  transition: ease-out 0.5s;
  font-size: 1rem;
}

.subscribe-section .button:hover {
  box-shadow: inset 150px 0 0 0 #054e4e;
}

.Subz-sign-in {
  margin-left: 17%;
  bottom: 10px;
  white-space: nowrap;

}

.footer-col2 .social-links a {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: #222222;
  margin: 0 5px 5px 0;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  color: #ffffff;
  transition: 0.5s ease;
}

.footer-col2 .social-links a:hover {
  color: #054e4e;
}

.footer-col2 .connect-h2 {
  margin-left: 23%;
}

@media screen and (max-width: 767px) {

  body {
    height: 350vh;
  }

  Main {
    justify-content: unset;
    display: unset;
    flex-wrap: unset;
  }

  .column {
    width: unset;
    min-height: 300px;
    float: unset;
    border: none;
  }
  
  .column2 {
    width: unset;
    min-height: 200px;
    float: unset;
    border: none;
  }
  
  .item-wrapper {
    margin: 20px;
    padding: 45px;
  }
  
  .item-wrapper {
    margin: 20px;
    padding: 45px;
  }


  .pre-order-button,
  .Buy-Now-button,
  .veiw-all-button2,
  .veiw-all-button, .move-pil1,
  .move-pil2 {
    display: none;
  }

  .comming-soon-h2 {
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 40px;
    position: relative;
  }
}

@media screen and (min-width: 767px) {
  
  .footer {
    background-color: #000000;
    height: auto;
    bottom: 0px;
    padding: 10px 0;
    width: 100%;
  }
  
  .container {
    max-width: 1170px;
    margin: auto;
    flex-direction: row;
  }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
  
}

@media screen and (min-width: 767px) {
  
  .bar__nav-hamburger {
    display: none;
  }

  .nav {
    display: initial;
    position: static;
    width: unset;
    height: unset;
    padding: unset;
    background: transparent;
  }

  .nav__link {
    border-bottom: none;
  }

  .nav__link:not(:last-of-type) {
    margin-right: 24px;
  }
  .search-input {
    position: unset;
  }
}
